/* Reset CSS for Resetting Different Browsers' Formatting */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset CSS Over */

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #60a9ff;
    display: flex;                              /* Body Container for Plans' Table Alignment */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Setting Initial CSS for Mobile/Tablet Devices Layout */
.pricing-panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;                              /* Flexbox for Aligning Plans Properly */
    flex-direction: column;                     /* Column Layout for Smaller Devices */
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;           /* Bottom Border for Vertical Layout */
}

.pricing-plan:last-child {
    border-bottom: none;                        /* No Border for Last Plan */
}

/* Image Margin & Width */
.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

/* Header Formatting */
.pricing-header {
    /* font-size: 2rem; */
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.plan-features {
    margin: 50px 0 25px;
    color: #016ff9;
}

.plan-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;              /* Border Separator b/w Plan Description Points */
}

.plan-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.plan-price {
    color: #016ff9;
    font-weight: 700;
    display: block;                             /* Block Display for Span Element */
    font-size: 32px;
}

/* Sign-up Button Formatting */
.plan-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.plan-button:hover, .plan-button:focus {
    background-color: #e1f1ff;
}

/* Different Style for Featured Plan Button */
.plan-button.is-featured {
    background-color: #48aaff;
    color: white;
    transition: background-color 200ms ease-in-out;
}

.plan-button.is-featured:hover, .plan-button.is-featured:focus {
    background-color: #269aff;
}

/* Responsive Design for Desktops/Laptops */
@media (min-width: 900px) {
    .pricing-panel {
        flex-direction: row;                    /* Row Alignment in Flexbox for all Plans */
    }
    /* Removing Bottom Border & Adding Right Border as Separator for Plans */
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}